.Modal {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    font-size: 18px;


    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;

    .window {
        background-color: white;
        padding: 20px;
        width: 300px;
        max-width: 80%;
        position: relative;
        box-shadow: 0 2px 8px rgba(0,0,0,0.3);
        border-radius: 8px;

        .closeButton {
            position: absolute;
            top: 10px;
            right: 10px;
            background: transparent;
            border: none;
            font-size: 20px;
            cursor: pointer;
            line-height: 1;
            color: #333;
        }

        .content {
            color: black;
            margin-top: 20px;
            text-align: center;
        }        
    }

}

