body {
    font-size: 16px;
    font-family: Times, serif;
    padding: 8px;
    margin: 0px;
}

nav ul {
    padding: 0px;
    margin: 0px;
}

nav li {
    display: inline-block;
    padding-right: 20px;
}

p.greeting {
    font-size: 100%;
    margin-bottom: 30px;
}

h1 {
    font-size: 160%;
    margin: 80px 0 80px 0;
}

h2 {
    font-size: 120%;
    margin: 40px 0px 10px 0px;
}

.table{

	border: 1px solid #eee;

	table-layout: fixed;

	width: 100%;
    max-width: 600px;

	margin-bottom: 20px;

}

.table th {

	font-weight: bold;

	padding: 5px;

	background: #efefef;

	border: 1px solid #dddddd;

}

.table td{

	padding: 5px 10px;

	border: 1px solid #eee;

	text-align: left;

}

.table tbody tr:nth-child(odd){

	background: #fff;

}

.table tbody tr:nth-child(even){

	background: #F7F7F7;

}

label, .appButton {
    margin: 0px 20px 0px 0px;
}

.graph {
    margin: 0px 0px 20px 0px;
}

section {
    height: 100vh;
}