.Header {
    position: fixed;
    top: 0;
    left: 0px;
    right: 0px;
    background-color: grey;
    z-index: 1000;
    display: flex;
    align-items: center;
    color: white;
    border-bottom: 1px solid black;

}