extends layout

block content
  h1=title 
  section.courses
    table
      tr
        th ID
        th Описание
        th Автор
        th Сложность
        th Рейтинг
      tr
        td 1
        td Математика
        td Архимед
        td **
        td **
      tr
        td 2
        td Математика
        td Чебышев
        td ***
        td ***
      tr
        td 3
        td Физика
        td Архимед
        td **
        td **
      tr
        td 4
        td Математика
        td Ньютон
        td ***
        td ***

