extends layout

block content
  h1 #{title} #{id}
  section.course
    table
      tr
        th ID
        th Описание
        th Автор
        th Сложность
        th Рейтинг
      tr
        td 1
        td Математика
        td Архимед
        td **
        td **

  h2 Пользователи, подписанные на курс
  ul
    li Петя
    li Катя
    li Миша        

  h2 Видео
  ul
    li Хм

  h2 Другие файлы
  ul
    li Хм

  h2 Комментарии
  ul
    li Петя: очень интересно

  h2 Уроки
  ul
    li Урок 1. Введение
    li Урок 2. Натуральные числа
    li Урок 3. Математические операции
