.EditCategoryForm {
    display: block;

    display: flex;
    flex-direction: column;

    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;

    label {
        margin-bottom: 20px;
    }
    input[type="text"], input[type="password"], input[type="file"], button {
        margin-left: 20px;
    }
    span {
        display: block;
        width: 50px;
        float: left;
        line-height: 20px;
    }
    .input {
        margin-left: 20px;
        display: inline-block;
    }

}

.error {
    color: red;
    padding-left: 70px;
}