@font-face {
    font-family: 'ArialBlack';
    src: url('ariblk.ttf')  format('truetype'); /* Safari, Android, iOS */
        
}

@font-face {
    font-family: 'Roboto';
    src: url('Roboto/Roboto-Regular.ttf')  format('truetype'); /* Safari, Android, iOS */
}

@font-face {
    font-family: 'RobotoBold';
    src: url('Roboto/Roboto-Bold.ttf')  format('truetype'); /* Safari, Android, iOS */
}

.shower {
    --slide-ratio: calc(16 / 9);
    --slide-side: 27px;
    --ribbon-side: 22px;
    font-family: Roboto, Helvetica, sans-serif;
    line-height: 130%;
    --corporate-color: #00aae6;
}
.ok {
    color: #888;
    position: relative;
}
.r {
    border: 1px solid red;
}
.picText {
    display: flex;
}
.w20 {
    width: 25%;
}
.w10 {
    width: 10%;
}
.w14 {
    width: 14%;
}
.w40 {
    width: 40%;
}
.w60 {
    width: 60%;
}
.w66 {
    width: 66%;
}
.w50 {
    width: 50%;
}
.h60 {
    height: 60%;
}

.rounded {
    border-radius: 10px;
}

.pathfind {
    background: url(pathfinding.jpg);
    background-position: top -250px left -20px;
}
.gamedev {
    background: url(game05.jpg);
    background-position: top -10px left 0px;
}

.highlight {
    color: #00aae6;
}

h4 {
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    color: #00aae6;
    font-weight: bold;
    padding: 0px;
    margin: 0px 0px 17px 0px;
}
th {
    color: #00aae6;
}

.speaker .content {
    display: grid;
    grid-template-areas: "photo photo quizes" "experience games river" "e e e";
    grid-template-columns: 1fr 1fr auto;
    grid-template-rows: 200px 200px auto;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    padding: 0px 0px 50px 0px;
}
.speaker .photo-caption {
    grid-area: photo;
    display: flex;
}

.speaker .photo {
    margin: 0px 50px 0px 0px;
    width: 200px;
    height: 200px;
    border-radius: 100px;
    overflow: hidden;
}

.speaker .experience {
    grid-area: experience;
    background: var(--corporate-color);
    border-radius: 10px;
}

.speaker .games {
    grid-area: games;
    background: var(--corporate-color);
    border-radius: 10px;
}

.speaker p {
    color: white;
}

.speaker .top {
    padding: 40px 20px 10px 20px;
}
.speaker .bottom {
    padding: 0px 20px 0px 20px;
}
.speaker .number {
    font-size: 300%;
}
.speaker .units {
    font-size: 150%;
}
.speaker .position {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: var(--corporate-color);
}

.speaker .text {
    margin-top: 35px;
}

.e {
    grid-area: e;
}

.img1 {
    grid-area: quizes;
}
.img2 {
    grid-area: river;
}

.vmiddle {
    display: flex;
    justify-content: center;
    align-items: center;
}
.text {
    padding-left: 30px;
}

.dijkstra {
    padding-right: 0px;
    position: relative;
}

.dijkstra .photo {
    position: absolute;
    right: 0px;
    top: -90px;
    width: 338px;
}
.slide.title::before, .nologo::before {
    display: none;
}
.slide.title::after {
    color: #1964f3;
    content: '';
    background: none;
}

.slide mark {
    background-color: #dfeafb;
    color: #00aae6;
}
.slide mark.orange {
    background-color: #f4e6ff;
    color: #a321fe;
}

.slide::before {
    background: url(INNO-logo3.svg) no-repeat;
    background-size: contain;
    color: black;
    padding: 0px;
    margin: 0px;
    display: block;
    line-height: var(--ribbon-side);
    content: '';
    width: 320px;
    height: 50px;
    position: absolute;
    bottom: 0px;
    left: 26px;
}
.nocopy::before {
    display: none;
}
.slide::after {
    background: white;
    background-position: right;
    color: black;
    width: var(--ribbon-side);
    height: var(--ribbon-side);
    padding: 0px 0px 0px 0px;
    margin: 0px;
    display: block;
    line-height: var(--ribbon-side);
    left: auto;
    right: var(--slide-side);
    top: auto;
    bottom: var(--slide-side);
    font-size: 0.6em;
    content: counter(slide);
}
.noPageNumber::after {
    display: none;
}

h1, h3, p, label, li {
    color: #04267E;
}

.slide.portrait {
    background: url(speaker.jpg);
    background-position: left;
    background-size: cover;
}
.portrait h3, .portrait p {
    color: white;
}
.portrait .textBack {
    background-color: rgba(0, 0, 0, 0.5);;
    margin-right: 40%;
    padding-left: 20px;
}
.tg {
    display: flex;
    align-items: center;
}

.tg p {
    margin-right: 20px;
}

.smaller {
    font-size: 80%;
}
.smaller70 {
    font-size: 70%;
}
.pic {
    padding: var(--slide-side) var(--slide-side) 0px var(--slide-side);
}
.text {
    padding-left: 30px;
}
.slide {
    padding: var(--slide-side) var(--slide-side) 0px var(--slide-side);
}
h1, h3 {
    color: #000;
    font-family: 'RobotoBold', Arial, Helvetica, sans-serif;
}
h3 {
    margin: 0px 0px 50px 1.2em;
    font-size: 1.7em;
    line-height: 1.0em;
    text-indent: -1.2em;
    width: 80%;
}
h3.d10 {
    margin: 0px 0px 10px 0px;
}
h3.d20 {
    margin: 0px 0px 20px 0px;
}
h3.noindent {
    text-indent: 0;
    margin-left: 0;
}
p, label, li {
    color: #000;
}

.slide.title {
    background: url(bgTitle.png);
    background-position: left;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.slide.title h1, .slide.title h3 {
    color: white;
}

.slide.title .logo {
    position: absolute;
    left: 0px;
    top: 15px;
    width: 320px;
}

.slide.title h1 {
    font-size: 60px;
    line-height: 120%;
    margin-top: 0%;
    margin-bottom: 0px;
}
.slide.title h3 {
    margin: 20px 0px 30px 0px;
    font-size: 1.2em;
    text-transform: none;
}

.slide p, .slide li {
    max-width: 70%;
    margin-bottom: 1rem;
}
.slide p.pretty, .slide li.pretty {
    text-indent: -1em;
    margin-left: 1em;
}

.slide .maxw100 {
    max-width: 100%;
}

.slide .del {
    color: grey;
}


.slide li {
    margin-left: 1.5rem;
}

.slide.speaker p, .slide.inspiration p {
    max-width: 100%;
}

.abstractGraph .canvas {
    display: flex;
    justify-content: center;
    align-items: center;
}

.impulse-logo {
    position: relative;
    top: -35px;
}
.tg {
    display: flex;
    align-items: center;
}

.tg p {
    margin-right: 20px;
}

.smaller, #smaller {
    font-size: 80%;
    padding-left: 26px;
}
.smaller70 {
    font-size: 70%;
}

.slide pre {
    margin-left: calc(var(--slide-side) * 2);
}
.slide pre code {
    line-height: 130%;
}
.progress {
    --color-blue: #00aae6;
}
.lh110 p, .lh110 pre code {
    line-height: 110%;
}

.lh100 p, .lh100 pre code {
    line-height: 100%;
}

.lh90 p, .lh90 pre code {
    line-height: 90%;
}

.slide li::before {
    color: #00aae6;
}

.link {
    color: #00aae6;
}

.qrs {
    display: grid;
    grid-template-areas: "ap links inno" "ap_qr links_qr inno_qr";
    grid-template-columns: 30% 30% 30%;
    grid-template-rows: auto 220px;
    grid-column-gap: 5%;
}
.links, .inno, .ap {
    line-height: 1.1em;
    padding-bottom: 25px;
    font-weight: bold;
    color: var(--corporate-color);
}

.ap {
    grid-area: ap;
}
.ap_qr {
    grid-area: ap_qr;
}
.ap_qr_i, .links_qr_i, .inno_qr_i {
    width: 200px;
    height: 200px;
    padding: 20px;
    border: 2px solid var(--corporate-color);
    border-radius: 10px;
}

.e {
    grid-area: e;
    background: green;
}

.links {
    grid-area: links;
}
.links_qr {
    grid-area: links_qr;
}

.inno {
    grid-area: inno;
}
.inno_qr {
    grid-area: inno_qr;
}


table {
    margin: 0px 0px 50px 0px;
    width: 70%;
}
strong {
    font-weight: normal;
    color: #00aae6;
}
.ok strong {
    color: inherit;
}
.schemeContainer {
    overflow: hidden;
}
.scheme {
    position: relative;
    top: -100px;
}
.q {
    quotes: "«" "»";
}

.bricks {
    background: black;
}

.bricks .txt {
    color: #ffff40;
}

#brief_8 {
    width: 690px;
    overflow: hidden;
}

.selectOne p {
    font-family: 'RobotoBold';
    width: 40%;
    color: #00aae6;
    border: 2px solid #00aae6;
    float: left;
    margin-right: 20px;
    padding: 20px;
    border-radius: 10px;
}


.game .canvas {
    display: flex;
    justify-content: center;
    align-items: center;
}
.game .controls {
    display: flex;
    justify-content: center;
    align-items:flex-start;
}

.game label {
    margin: 15px 30px 0px 0px;
    padding-left: 50px;
    height: 30px;
    color: #00aae6;
    position: relative;
}

.game input[type='checkbox'] {
    visibility: hidden;
}

.game input[type="checkbox"]:checked + b, 
.game input[type="checkbox"]:not(:checked) + b {
    display: inline-block;
    content: "";
    margin: 0px 5px 0px 0px;
    position: relative;
    width: 18px;
    height: 18px;
    border: 1px solid #00aae6;

    border-radius: 2px;
}

.game input[type="checkbox"]:checked + b {
    background: #00aae6;
}

.game input[type="checkbox"]:not(:checked) + b {
    background: white;
}
.game input[type="checkbox"]:checked + b:after, 
.game input[type="checkbox"]:not(:checked) + b:after {
    display: inline-block;
    content: "";
    position: absolute;
    left: 3px;
    top: 4px;
    width: 10px;
    height: 5px;
    border-radius: 1px;
    border-left: 4px solid white;
    border-bottom: 4px solid white;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.game input[type="checkbox"]:checked + b:after {
    opacity: 1;
}

.game input[type="checkbox"]:not(:checked) + b:after {
    opacity: 0;
}

.game .appButton {
    font-size: 25px;
    line-height: 35px;
    border-radius: 0px;
    background: white;
    box-sizing: border-box;
    margin: 15px 30px 0px 0px;
    color: #00aae6;
    border: 2px solid #00aae6;
    cursor: pointer;
    min-width: 50px;
    padding: 0px 10px;
}

.game input[type='range'] {
    -webkit-appearance: none !important;
    background:#00aae6;
    height:7px;
    border-radius: 4px;
    width: 130px;
}
.game input[type='range']::-webkit-slider-thumb {
    -webkit-appearance: none !important;
    background:#00aae6;;
    height:20px;
    width:20px;
    border-radius: 15px;
    border: 2px solid white;
}
.game input[type='range']::-moz-range-thumb {
    background:#00aae6;;
    height:20px;
    width:20px;
    border-radius: 15px;
    border: 2px solid white;
    box-sizing: border-box;
}

.game .stepSlider {
    padding-left: 0px;
    margin-top: 20px;
}

.game .stepNo {
    width: 65px;
    display: inline-block;
    text-align: right;
    margin-right: 5px;
}

.game .slider {
    display: inline-block;
    width: 150px;
    position: relative;
    top: -5px;
}

.slide a {
    color: #00aae6;
}