.but {
    display: inline-block;
    height: 25px;
    margin: 0px 5px 0px 0px;
    font-size: 14px;
    border-radius: 5px;
    letter-spacing: 0px;
    border-style: outset;
    border-color: #777;
    border-width: 2px;
    padding: 1px 6px;
    box-sizing: border-box;
    background: #222;
    color: #ddd;
}

.disabled {
    background: #aaa;
}

.active {
    background: #faa;
    color: #222;
}