.EditProductForm {
    display: block;

    display: flex;
    flex-direction: column;

    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;

    label {
        margin-top: 20px;
        display: flex;
    }
    input[type="text"], input[type="password"], input[type="file"], select {
        margin-left: 0px;
    }
    button {
        margin-right: 20px;
    }
    span {
        display: block;
        width: 100px;
        float: left;
        line-height: 20px;
        text-align: left;
    }

    .buttons {
        display: flex;
        margin-top: 20px;
    }

}

.error {
    color: red;
    text-align: left;
    padding-left: 100px;
}