@font-face {
    font-family: 'ArialBlack';
    src: url('ariblk.ttf')  format('truetype'); /* Safari, Android, iOS */
        
}

.shower {
    --slide-ratio: calc(16 / 9);
    --slide-side: 27px;
    --ribbon-side: 22px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 130%;
    --corporate-color: #00adeb;
    --darkblue: #0082b0;
    --grey: #ecf2f9;
}
.ok {
    color: #888;
    position: relative;
}
.r {
    border: 1px solid red;
}
.picText {
    display: flex;
}
.w20 {
    width: 25%;
}
.w10 {
    width: 10%;
}
.w14 {
    width: 14%;
}
.w40 {
    width: 40%;
}
.w60 {
    width: 60%;
}
.w66 {
    width: 66%;
}
.w50 {
    width: 50%;
}
.h60 {
    height: 60%;
}

.rounded {
    border-radius: 10px;
}

.pathfind {
    background: url(pathfinding.jpg);
    background-position: top -250px left -20px;
}
.gamedev {
    background: url(game05.jpg);
    background-position: top -10px left 0px;
}

.highlight {
    color: #00aae6;
}

h4 {
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    color: #00aae6;
    font-weight: bold;
    padding: 0px;
    margin: 0px 0px 17px 0px;
}
th {
    color: #00aae6;
}

.speaker .content {
    display: grid;
    grid-template-areas: "photo photo quizes" "experience games river" "e e e";
    grid-template-columns: 1fr 1fr auto;
    grid-template-rows: 200px 200px auto;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    padding: 0px 0px 50px 0px;
}
.speaker .photo-caption {
    grid-area: photo;
    display: flex;
}

.speaker .photo {
    position: initial;
    margin: 0px 50px 0px 0px;
    width: 200px;
    height: 200px;
    border-radius: 100px;
    overflow: hidden;
}

.speaker .experience {
    grid-area: experience;
    background: var(--corporate-color);
    border-radius: 10px;
}

.speaker .games {
    grid-area: games;
    background: var(--corporate-color);
    border-radius: 10px;
}

.speaker p {
    color: white;
}

.speaker .top {
    padding: 40px 20px 10px 20px;
}
.speaker .bottom {
    padding: 0px 20px 0px 20px;
}
.speaker .number {
    font-size: 300%;
    font-weight: bold;
}
.speaker .units {
    font-size: 150%;
    font-weight: bold;
}
.speaker .position {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: var(--corporate-color);
}

.speaker .text {
    margin-top: 35px;
}

.company .content {
    display: grid;
    grid-template-areas: "employees employees cities earn earn" "employeeDelta employeeDelta cities earn earn" "centers engagement satisfaction satisfaction age";
    grid-template-columns: 2fr 2fr 2fr 1fr 2.5fr;
    grid-template-rows: 130px 130px 130px;

    grid-column-gap: 10px;
    grid-row-gap: 10px;
    padding: 0px 0px 50px 0px;
}

.company .content div {
    padding: 10px;
    border-radius: 10px;
    position: relative;
}

.company .darkblue {
    color: white;
    background: var(--darkblue);
}

.company .darkblue h4 {
    color: white;
}

.company .grey {
    background: var(--grey);
}

.company .grey p {
    color: black !important;
}

.company .grey h4 {
    color: var(--corporate-color) !important;
}

.company .corporate {
    background: var(--corporate-color);
}

.company .corporate h4 {
    color: white !important;
}

.company .employees {
    grid-area: employees;
}
.company .employees::before {
    background: url(employees.png) no-repeat;
    background-size: contain;
    padding: 0px;
    margin: 0px;
    display: block;
    content: '';
    width: 50px;
    height: 50px;
    position: absolute;
    bottom: 10px;
    right: 20px;
}

.company h4 {
    margin: 0px 0px 10px 0px;
    font-size: 2.2em;
    line-height: 1.0em;
}

.company h4 span {
    font-size: 0.6em;
    right: 0px;
}

.company p {
    font-size: 0.7em; 
    line-height: 1.0em;
    margin: 0px 0px 3px 0px !important;
    padding: 0px;
    color: white;
    max-width: 100% !important;
}

.company .cities {
    grid-area: cities;
}

.company .cities h4 {
    margin-top: 120px;
}
.company .cities::before {
    background: url(cities.png) no-repeat;
    background-size: contain;
    padding: 0px;
    margin: 0px;
    display: block;
    content: '';
    width: 120px;
    height: 120px;
    position: absolute;
    top: 10px;
    left: -10px;
}

.company .earn {
    grid-area: earn;
}
.company .earn::before {
    background: url(earn.png) no-repeat;
    background-size: contain;
    padding: 0px;
    margin: 0px;
    display: block;
    content: '';
    width: 200px;
    height: 200px;
    position: absolute;
    bottom: -18px;
    right: 0px;
}
.company .employeeDelta {
    grid-area: employeeDelta;
}

.company .employeeDelta::before {
    background: url(employeeDelta.png) no-repeat;
    background-size: contain;
    padding: 0px;
    margin: 0px;
    display: block;
    content: '';
    width: 50px;
    height: 50px;
    position: absolute;
    bottom: 10px;
    right: 20px;
}

.company .centers {
    grid-area: centers;
}

.company .engagement {
    grid-area: engagement;
}

.company .satisfaction {
    grid-area: satisfaction;
}
.company .satisfaction::before {
    background: url(satisfaction.png) no-repeat;
    background-size: contain;
    padding: 0px;
    margin: 0px;
    display: block;
    content: '';
    width: 120px;
    height: 120px;
    position: absolute;
    bottom: -38px;
    right: 0px;
}

.company .age {
    grid-area: age;
}
.company .age::before {
    background: url(age.png) no-repeat;
    background-size: contain;
    padding: 0px;
    margin: 0px;
    display: block;
    content: '';
    width: 50px;
    height: 50px;
    position: absolute;
    bottom: 5px;
    right: 5px;
}
.e {
    grid-area: e;
}

.img1 {
    grid-area: quizes;
}
.img2 {
    grid-area: river;
}

.vmiddle {
    display: flex;
    justify-content: center;
    align-items: center;
}
.text {
    padding-left: 30px;
}

.dijkstra {
    padding-right: 0px;
    position: relative;
}

.photo {
    position: absolute;
    right: 0px;
    width: 338px;
    border-radius: 20px;
}

.lobachevskiy {
    padding-right: 0px;
    position: relative;
}

.top-m-90 {
    top: -90px !important;
}
.top-m-133 {
    top: -133px !important;
}
.top-0 {
    top: 0px !important;
}

.slide.title::before, .nologo::before {
    display: none;
}
.slide.title::after {
    color: #1964f3;
    content: '';
    background: none;
}

.slide mark {
    background-color: #dfeafb;
    color: #00aae6;
}
.slide mark.orange {
    background-color: #f4e6ff;
    color: #a321fe;
}

.slide::before {
    background: url(T1-logo-short.svg) no-repeat;
    background-size: contain;
    color: black;
    padding: 0px;
    margin: 0px;
    display: block;
    line-height: var(--ribbon-side);
    content: '';
    width: 350px;
    height: 100px;
    position: absolute;
    top: 0px;
    right: -141px;
    left: auto;
}
.nocopy::before {
    display: none;
}
.slide::after {
    background: white;
    background-position: right;
    color: #a6a6a6;
    width: var(--ribbon-side);
    height: var(--ribbon-side);
    padding: 0px 0px 0px 0px;
    margin: 0px;
    display: block;
    line-height: var(--ribbon-side);
    right: auto;
    left: 10px;
    top: auto;
    bottom: 10px;
    font-size: 0.4em;
    content: counter(slide);
}
.noPageNumber::after {
    display: none;
}

h1, h3, p, label, li {
    color: #04267E;
}

.slide.portrait {
    background: url(speaker.jpg);
    background-position: left;
    background-size: cover;
}
.portrait h3, .portrait p {
    color: white;
}
.portrait .textBack {
    background-color: rgba(0, 0, 0, 0.5);;
    margin-right: 40%;
    padding-left: 20px;
}
.tg {
    display: flex;
    align-items: center;
}

.tg p {
    margin-right: 20px;
}

.smaller {
    font-size: 80%;
}
.smaller70 {
    font-size: 70%;
}
.pic {
    padding: var(--slide-side) var(--slide-side) 0px var(--slide-side);
}
.text {
    padding-left: 30px;
}
.slide {
    padding: var(--slide-side) var(--slide-side) 0px var(--slide-side);
}
h1, h3 {
    color: #000;
    font-family: Arial, Helvetica, sans-serif;
}
h3 {
    margin: 0px 0px 50px 1.2em;
    font-size: 1.7em;
    line-height: 1.0em;
    text-indent: -1.1em;
    width: 80%;
}
.d10 {
    margin: 0px 0px 10px 0px;
}
.d20 {
    margin-bottom: 20px !important;
}
.d40 {
    margin-bottom: 40px !important;
}
.black {
    color: black;
}
.fs1_2{
    font-size: 1.2em;
}
h3.noindent {
    text-indent: 0;
    margin-left: 0;
}
h3.w100 {
    width: 100%;
}
p, label, li {
    color: #000;
}

.slide.title {
    background: url(bgTitle.jpg);
    background-position: left;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.slide.title h1, .slide.title h3 {
    color: white;
}

.slide.title .logo {
    position: absolute;
    left: -85px;
    top: 15px;
    width: 320px;
}

.slide.title h1 {
    font-size: 60px;
    line-height: 120%;
    margin-top: 0%;
    margin-bottom: 24px;
}
.slide.title h3 {
    margin: 20px 0px 30px 0px;
    font-size: 1em;
    font-weight: 100;
    text-transform: none;
}

.slide p, .slide li {
    max-width: 70%;
    margin-bottom: 1rem;
}
.slide p.pretty, .slide li.pretty {
    text-indent: -1em;
    margin-left: 1em;
}

.slide .maxw100 {
    max-width: 100%;
}

.slide .del {
    color: grey;
}


.slide li {
    margin-left: 1.5rem;
}

.slide.speaker p, .slide.inspiration p {
    max-width: 100%;
}

.abstractGraph .canvas {
    display: flex;
    justify-content: center;
    align-items: center;
}

.impulse-logo {
    position: relative;
    top: -35px;
}
.tg {
    display: flex;
    align-items: center;
}

.tg p {
    margin-right: 20px;
}

.smaller, #smaller {
    font-size: 80%;
    padding-left: 26px;
}
.smaller70 {
    font-size: 70%;
}

.slide pre {
    margin-left: calc(var(--slide-side) * 2);
}
.slide pre code {
    line-height: 130%;
}
.progress {
    --color-blue: #00aae6;
}
.lh110 p, .lh110 pre code {
    line-height: 110%;
}

.lh100 p, .lh100 pre code {
    line-height: 100%;
}

.lh90 p, .lh90 pre code {
    line-height: 90%;
}

.slide li::before {
    color: #00aae6;
}

.link {
    color: #00aae6;
}


.contacts {
    background: url(contacts-bg.png);
    background-size: contain;
    position: relative;
}

.contacts h3 {
    color: white;
}

.contacts::before {
    background: url(contacts-team.png) no-repeat;
    background-size: contain;
    background-position: bottom right;

    padding: 0px;
    margin: 0px;
    display: block;
    content: '';
    width: 700px;
    height: 100%;
    position: absolute;
    bottom: 0px;
    right: -30px;
}

.qrs {
    width: 50%;
}

.bricks-qrs {
    width: 50%;
}
.qr {
    width: 150px;
    height: 180px;
    float: left;
    margin: 0px 20px 20px 0px;
    background: #FFF;
    border-radius: 10px;
    position: relative;
    font-size: 12px;
    line-height: 1em;
}
.qr p {
    color: var(--corporate-color);
    padding: 145px 0px 0px 10px;
    max-width: 100%;
}

.qr::before {
    position: absolute;
    width: 130px;
    height: 130px;
    display: block;
    content: '';
    left: 10px;
    top: 10px;
}

.career::before {
    background: url(qr-career.png) no-repeat;
    background-size: contain;
}

.career-tg::before {
    background: url(qr-career-tg.png) no-repeat;
    background-size: contain;
}

.ap-tg::before {
    background: url(qr-ap-tg.png) no-repeat;
    background-size: contain;
}

.links::before {
    background: url(qr-links.png) no-repeat;
    background-size: contain;
}

.bricks-learn, .bricks-game, .bricks-editor, .bricks-source, .a-star, .graph-algorithms {
    margin-bottom: 0px;
    height: 150px;
    float: none;
}

.bricks-learn::before {
    background: url(qr-bricks-learn.png) no-repeat;
    background-size: contain;
}

.bricks-game::before {
    background: url(qr-bricks-game.png) no-repeat;
    background-size: contain;
}

.bricks-editor::before {
    background: url(qr-bricks-editor.png) no-repeat;
    background-size: contain;
}

.bricks-source::before {
    background: url(qr-bricks-src.png) no-repeat;
    background-size: contain;
}

.a-star::before {
    background: url(qr-a-star.png) no-repeat;
    background-size: contain;
}

.graph-algorithms::before {
    background: url(qr-graph-algorithms.png) no-repeat;
    background-size: contain;
}



.qr-p {
    display: flex;
    flex-direction: row;
}
.clear {
    clear: both;
}

.slide table {
    margin: 0px 0px 50px 0px;
    width: 100%;
}
.slide tr:not(:last-of-type) > * {
    background-image: none;
    background-repeat: repeat-x;
    border-bottom: 1px solid #d1d1d1;
}
.slide tr:first-of-type > * {
    border-bottom: 1px solid var(--corporate-color);
}
.slide th:first-child,
.slide td:first-child {
    padding-left: 0px;
}

strong {
    font-weight: normal;
    color: #00aae6;
}
.ok strong {
    color: inherit;
}
.schemeContainer {
    overflow: hidden;
}
.scheme {
    position: relative;
    top: -100px;
}
.q {
    quotes: "«" "»";
}

.bricks {
    background: black;
}

.bricks .txt {
    color: #ffff40;
}

#brief_8 {
    width: 690px;
    overflow: hidden;
}

.selectOne p {
    font-weight: bold;
    width: 40%;
    color: white;
    background: var(--corporate-color);
    float: left;
    margin-right: 20px;
    padding: 20px;
    border-radius: 10px;
}


.game .canvas {
    display: flex;
    justify-content: center;
    align-items: center;
}
.game .controls {
    display: flex;
    justify-content: center;
    align-items:flex-start;
}

.game label {
    margin: 15px 30px 0px 0px;
    padding-left: 50px;
    height: 30px;
    color: #00aae6;
    position: relative;
}

.game input[type='checkbox'] {
    visibility: hidden;
}

.game input[type="checkbox"]:checked + b, 
.game input[type="checkbox"]:not(:checked) + b {
    display: inline-block;
    content: "";
    margin: 0px 5px 0px 0px;
    position: relative;
    width: 18px;
    height: 18px;
    border: 1px solid #00aae6;

    border-radius: 2px;
}

.game input[type="checkbox"]:checked + b {
    background: #00aae6;
}

.game input[type="checkbox"]:not(:checked) + b {
    background: white;
}
.game input[type="checkbox"]:checked + b:after, 
.game input[type="checkbox"]:not(:checked) + b:after {
    display: inline-block;
    content: "";
    position: absolute;
    left: 3px;
    top: 4px;
    width: 10px;
    height: 5px;
    border-radius: 1px;
    border-left: 4px solid white;
    border-bottom: 4px solid white;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.game input[type="checkbox"]:checked + b:after {
    opacity: 1;
}

.game input[type="checkbox"]:not(:checked) + b:after {
    opacity: 0;
}

.game .appButton {
    font-size: 25px;
    line-height: 35px;
    border-radius: 0px;
    background: white;
    box-sizing: border-box;
    margin: 15px 30px 0px 0px;
    color: #00aae6;
    border: 2px solid #00aae6;
    cursor: pointer;
    min-width: 50px;
    padding: 0px 10px;
}

.game input[type='range'] {
    -webkit-appearance: none !important;
    background:#00aae6;
    height:7px;
    border-radius: 4px;
    width: 130px;
}
.game input[type='range']::-webkit-slider-thumb {
    -webkit-appearance: none !important;
    background:#00aae6;;
    height:20px;
    width:20px;
    border-radius: 15px;
    border: 2px solid white;
}
.game input[type='range']::-moz-range-thumb {
    background:#00aae6;;
    height:20px;
    width:20px;
    border-radius: 15px;
    border: 2px solid white;
    box-sizing: border-box;
}

.game .stepSlider {
    padding-left: 0px;
    margin-top: 20px;
}

.game .stepNo {
    width: 65px;
    display: inline-block;
    text-align: right;
    margin-right: 5px;
}

.game .slider {
    display: inline-block;
    width: 150px;
    position: relative;
    top: -5px;
}

.slide a {
    color: #00aae6;
}

.ui {
    display: grid;
    grid-template-areas: "game game game" "playerCtrl uiOptions guardCtrl" "manCtrl2 uiOptions2 guardCtrl2";
    grid-template-columns: 122px auto 122px;
    grid-template-rows: 320px 30px 30px;
    height: 320px;
    width: 720px;
}

.playerControls {
    grid-area: playerCtrl;
    display: flex;
    button {
        width: 30px;
    }
}

.guardianControls {
    grid-area: guardCtrl;
    display: flex;
    justify-content: flex-end;
    button {
        width: 30px;
    }
}

.guardCtrl2 {
    grid-area: guardCtrl2;
    display: flex;
}

.manCtrl2 {
    grid-area: manCtrl2;
    display: flex;
}

.guardCtrl2, .uiOptions, .manCtrl2 {
    font-family: Arial, Helvetica, sans-serif;
    label {
        margin: 0px 0px 0px 0px;
        padding-left: 0px;
        position: relative;
    }    
    input[type='checkbox'] {
        visibility: hidden;
    }
    input[type="checkbox"]:checked + b, 
    input[type="checkbox"]:not(:checked) + b {
        display: inline-block;
        content: "";
        margin: 0px 0px 0px 0px;
        position: relative;
        width: 18px;
        height: 18px;
        border: 1px solid black;
    
        border-radius: 2px;
    }
    input[type="checkbox"]:checked + b {
        background: black;
    }
    
    input[type="checkbox"]:not(:checked) + b {
        background: white;
    }

    input[type="checkbox"]:checked + b:after, 
    input[type="checkbox"]:not(:checked) + b:after {
        display: inline-block;
        content: "";
        position: absolute;
        left: 3px;
        top: 4px;
        width: 10px;
        height: 5px;
        border-radius: 1px;
        border-left: 4px solid white;
        border-bottom: 4px solid white;
        -webkit-transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
        -o-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        transform: rotate(-45deg);
    }

    input[type="checkbox"]:checked + b:after {
        opacity: 1;
    }
    
    input[type="checkbox"]:not(:checked) + b:after {
        opacity: 0;
    }

    :global(.checkText) {
        display: inline-block;
        line-height: 30px;
        height: 30px;
        padding-left: 45px;
    }

    :global(.checkBox) {
        position: absolute;
        left: 0px;
        top: 3px;
    }
}

.uiOptions {
    grid-area: uiOptions;
    display: flex;
    justify-content: center;
}

.arcade label .checkText {
    display: none;
}


.slide.contents {
    background: var(--corporate-color);
}

.slide.contents::before {
    background: url(T1-logo-white-short.svg) no-repeat;
}

.slide.contents p, 
.slide.contents h3,
.slide.contents strong {
    color: white;
}

.slide.contents p.ok {
    color: #62ccf3;
}
.slide.contents::after {
    background: var(--corporate-color);
    color: white;
}
