mysql-db
apache_logs
mysql-requisites.php
PROJECT_DB_SOURCE_IP
PROJECT_DB_REPLICA_IP
DB_USER_REPL_PASS
DB_USER_API_PASS
DB_USER_READ_PASS
DB_USER_LOCAL_READ_PASS
docker-compose.yml
db_backup.sql
init.sql
users-init.sql
tmp
mysql-root
*.log
