mysql-db
apache_logs
mysql-requisites.php
DB_USER_REPL_PASS
DB_USER_API_PASS
DB_USER_READ_PASS
DB_USER_LOCAL_READ_PASS
docker-compose.yml
db_backup.sql
init.sql
users-init.sql
tmp
mysql-root
*.log
project-prometheus/data
grafana
es/data
logstash/data
project-api-balancer-filebeat/data
kibana/data
.env