.Modal {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    font-size: 18px;


    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;

    .window {
        background-color: white;
        border: 1px solid grey;
        width: 400px;
        max-width: 80%;
        position: relative;
        box-shadow: 0 2px 8px rgba(0,0,0,0.3);

        .closeButton {
            position: absolute;
            top: 10px;
            right: 10px;
            background: transparent;
            border: none;
            font-size: 20px;
            cursor: pointer;
            line-height: 1;
            color: #fff;
        }

        .content {
            color: black;
            text-align: center;
            padding: 0px 20px 20px 20px;
        }
        
        .title {
            color: white;

            height: 40px;
            line-height: 40px;
            font-weight: bold;
            text-align: center;
        }
    }

}

.grey {
    background-color: grey;
    border-bottom: 1px solid black;
}

.blue {
    background-color: #5660f0;
    border-bottom: 1px solid blue;
}