.ProductCard {
    width: 300px;
    border: 1px solid #ddd;
    overflow: hidden;
    font-family: Arial, sans-serif;
    float: left;

    .image {
        width: 100%;
        height: 200px;
        object-fit: cover;
        display: block;
    }    

    .defaultImage {
        height: 200px;
        display: block;
        background: url(./equipment-gift.svg) no-repeat center;
        background-size: contain;
    }

    .details {
        padding: 16px;
        min-height: 160px;
    }

    .title {
        font-size: 1.2em;
        margin: 0 0 8px;
        font-weight: bold;
    }

    .description {
        font-size: 0.9em;
        color: #555;
        margin-bottom: 12px;
        line-height: 1.5;
    }

    .price {
        font-size: 1.2em;
        margin-bottom: 16px;
        font-weight: bold;
        color: #e91e63;
    }

    .buyButton:hover {
        background-color: #999;
    }

}

.grey {
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);

    .defaultImage {
        border: 1px solid black;
    }
}

.blue {
    box-shadow: 0 2px 8px rgba(86, 96, 240, 0.5);

    .defaultImage {
        border: 1px solid #5660f0;
    }

    .title {
        color: #5660f0;
    }
}

$indent: 8px;
.tip {
    border-radius: 0px !important;

    transform: translate(0%, calc(-100% - $indent)) !important;
    background-color: rgba(100, 100, 100) !important;
    color: white !important;
    font-family: Arial, sans-serif;
    font-size: 0.9em;

    p {
        margin: 0px;
        padding: 0px;
    }
}