.Logo {
    width: 120px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
    background: #FFF url(./cart.svg) no-repeat;
    background-size: contain;

}